@tailwind base;
@tailwind components;
@tailwind utilities;

.outlined-text {
  color: white;
  -webkit-text-stroke: 2px black;
}
@font-face {
  font-family: woff1;
  src: url('./assets/file.woff2');
}
@font-face {
  font-family: woff2;
  src: url('./assets/file1.woff2');
}
@font-face {
  font-family: woff3;
  src: url('./assets/file2.woff2');
}
@font-face {
  font-family: woff4;
  src: url('./assets/file3.woff2');
}
@font-face {
  font-family: woff5;
  src: url('./assets/file4.woff2');
}


#page-in{
  perspective: 1000px;
}
/* #tiltDiv{
  background-color:red;
  transform:rotateX(20deg);
} */